.section {
    padding-top: var(--header-offset);
    padding-bottom: 48px;
}

/* Wrapper, der als Timeline dient */

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
    /*padding-top: var(--header-offset);*/
    view-timeline-name: --cards-element-scrolls-in-body;

    --step: 28vh;
    padding-bottom: calc(var(--numcards) * var(--step));
}

/* Karte (nicht sticky!) */
.card {
    --index0: calc(var(--index) - 1);
    --reverse-index: calc(var(--numcards) - var(--index0));
    --reverse-index0: calc(var(--reverse-index) - 1);

    position: relative;

    height: var(--step);
    margin: 0;
    /*padding-bottom: 24px;*/
}

.card+.card {
    margin-top: -120px;
}

/* Sticky nur auf inner content */
.card__content {
    --peek: 18px;
    position: sticky;
    top: calc(var(--header-offset) + (var(--index0) * var(--peek)));


    z-index: var(--index);

    transform-origin: center top;
    will-change: transform;

    --start-range: calc(var(--index0) / var(--numcards) * 100%);
    --end-range: calc((var(--index)) / var(--numcards) * 100%);

    animation: linear scale forwards;
    animation-timeline: --cards-element-scrolls-in-body;
    animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);

    background: white;
    border-radius: 20px;
    padding: 48px;
    min-height: 240px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.10);
}

@keyframes scale {
    to {
        transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
}